USE [master]
GO
/****** Object:  Database [Rently]    Script Date: 12.03.2026 09:38:02 ******/
CREATE DATABASE [Rently]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rently', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rently.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rently_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Rently_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rently].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rently]
GO
/****** Object:  Table [dbo].[Children]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Children](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parent_id] [int] NULL,
	[initial] [nvarchar](50) NULL,
	[birth_date] [datetime] NULL,
	[edu_status] [bit] NULL,
	[edu_document] [nvarchar](50) NULL,
 CONSTRAINT [PK_Children] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decision]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decision](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](500) NULL,
	[status] [bit] NULL,
	[note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Decision] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deploy]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deploy](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section_id] [int] NULL,
	[rank_id] [int] NULL,
	[initial] [nvarchar](255) NULL,
	[raport_num] [nvarchar](255) NULL,
	[raport_date] [datetime] NULL,
	[has_reference] [bit] NULL,
	[has_spouse_reference] [bit] NULL,
	[has_marriage_certificate] [bit] NULL,
	[obligation] [bit] NULL,
	[has_form18] [bit] NULL,
	[has_apartment_cert] [bit] NULL,
	[note] [nvarchar](150) NULL,
	[is_married] [bit] NULL,
 CONSTRAINT [PK_Deploy] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentReceivers]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentReceivers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rank_id] [int] NULL,
	[full_name] [nvarchar](20) NULL,
	[department] [nvarchar](10) NULL,
	[is_deleted] [bit] NULL,
 CONSTRAINT [PK_DocumentReceivers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Main]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Main](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rank_id] [int] NULL,
	[initial] [nvarchar](50) NULL,
	[section_id] [int] NULL,
	[obligation] [bit] NULL,
	[has_raport] [bit] NULL,
	[raport_num] [nvarchar](20) NULL,
	[raport_date] [datetime] NULL,
	[has_cover_letter] [bit] NULL,
	[cover_letter_num] [nvarchar](20) NULL,
	[cover_letter_date] [datetime] NULL,
	[has_contract] [bit] NULL,
	[contract_date] [datetime] NULL,
	[contract_expire_date] [datetime] NULL,
	[has_reference] [bit] NULL,
	[has_spouse_reference] [bit] NULL,
	[has_marriage_certificate] [bit] NULL,
	[has_apartment_cert] [bit] NULL,
	[apartment_cert_num] [nvarchar](20) NULL,
	[has_form18] [bit] NULL,
	[has_id_card_copy] [bit] NULL,
	[has_spouse_id_card_copy] [bit] NULL,
	[has_municipal_certificates] [bit] NULL,
	[municipal_certificates_num] [nvarchar](20) NULL,
	[has_mortgage_fund] [bit] NULL,
	[mortgage_fund_num] [nvarchar](20) NULL,
	[has_mia_certificate] [bit] NULL,
	[has_rental_order] [bit] NULL,
	[rental_order_num] [nvarchar](20) NULL,
	[rental_order_date] [datetime] NULL,
	[received_id] [int] NULL,
	[received_date] [datetime] NULL,
	[is_married] [bit] NULL,
	[note] [nvarchar](150) NULL,
 CONSTRAINT [PK_Main] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Protocol]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Protocol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[initial_id] [int] NULL,
	[family] [int] NULL,
	[amount] [float] NULL,
	[note] [nvarchar](100) NULL,
	[protocol_num] [int] NULL,
	[protocol_date] [datetime] NULL,
	[decision_id] [int] NULL,
 CONSTRAINT [PK_Protocol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProtocolDetails]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProtocolDetails](
	[header] [nvarchar](max) NULL,
	[footer] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranks]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranks](
	[id] [int] NOT NULL,
	[rank] [nvarchar](100) NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[position] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[section] [nvarchar](100) NULL,
	[is_deleted] [bit] NULL,
	[position] [int] NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Decision] ADD  CONSTRAINT [DF_Table_1_Status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Deploy] ADD  CONSTRAINT [DF_Deploy_is_married]  DEFAULT ((0)) FOR [is_married]
GO
ALTER TABLE [dbo].[DocumentReceivers] ADD  CONSTRAINT [DF_DocumentReceivers_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Ranks] ADD  CONSTRAINT [DF_Ranks_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Sections] ADD  CONSTRAINT [DF_Sections_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Children]  WITH CHECK ADD  CONSTRAINT [FK_Children_Main] FOREIGN KEY([parent_id])
REFERENCES [dbo].[Main] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Children] CHECK CONSTRAINT [FK_Children_Main]
GO
/****** Object:  StoredProcedure [dbo].[main_sp]    Script Date: 12.03.2026 09:38:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[main_sp]
@PageNumber int,
@PageSize int,
@initial nvarchar(50),
@has_raport bit,
@raport_num nvarchar(20),
@raport_date datetime,
@has_contract bit,
@has_reference bit,
@has_spouse_reference bit,
@has_marriage_certificate bit,
@has_apartment_cert bit,
@has_form18 bit,
@has_id_card_copy bit,
@has_spouse_id_card_copy bit,
@order int = NULL,
@month nvarchar(max) = NULL,
@year nvarchar(max) = NULL

AS
BEGIN
	SET @PageNumber = CASE WHEN @PageNumber < 1 THEN 1 ELSE @PageNumber END;

	WITH FilteredMain AS (
	select R.rank, S.section, M.*, P.protocol_num, P.protocol_date, DC.full_name,
	case when protocol_num is not null then CAST(1 as bit) else CAST(0 as bit) end has_protocol
	from Main M
	left join Sections S on S.id = M.section_id
	left join Ranks R on R.id = M.rank_id
	left join DocumentReceivers DC on DC.id = M.received_id
	left join Protocol P on P.initial_id = M.id
	where 
    (@initial IS NULL OR M.initial LIKE '%' + @initial + '%') AND
    (@raport_num IS NULL OR M.raport_num LIKE '%' + @raport_num + '%') AND
    (@raport_date IS NULL OR M.raport_date = @raport_date) AND
    (@has_contract IS NULL OR M.has_contract = @has_contract) AND
    (@has_reference IS NULL OR M.has_reference = @has_reference) AND
    (@has_spouse_reference IS NULL OR M.has_spouse_reference = @has_spouse_reference) AND
    (@has_marriage_certificate IS NULL OR M.has_marriage_certificate = @has_marriage_certificate) AND
    (@has_apartment_cert IS NULL OR M.has_apartment_cert = @has_apartment_cert) AND
    (@has_form18 IS NULL OR M.has_form18 = @has_form18) AND
    (@has_id_card_copy IS NULL OR M.has_id_card_copy = @has_id_card_copy) AND
    (@has_spouse_id_card_copy IS NULL OR M.has_spouse_id_card_copy = @has_spouse_id_card_copy) AND
	(@year IS NULL OR YEAR(raport_date) IN (SELECT CAST(value AS int) FROM STRING_SPLIT(@year, ','))) AND
    (@month IS NULL OR MONTH(raport_date) IN (SELECT CAST(value AS tinyint) FROM STRING_SPLIT(@month, ',')))

    ),
		CountAndSum AS (
		SELECT COUNT(*) AS TotalCount
		FROM FilteredMain fm
	)
		SELECT fm.*, ca.TotalCount, CEILING(ca.TotalCount/@PageSize) + 1 AS PageCount
	FROM FilteredMain fm
	CROSS JOIN CountAndSum ca
	ORDER BY id desc
	--	CASE WHEN @order = 0 THEN fo.data1 END DESC,
	--	CASE WHEN @order = 1 then fo.data1 end
	OFFSET @PageSize * (@PageNumber - 1) ROWS 
	FETCH NEXT @PageSize ROWS ONLY OPTION(RECOMPILE);

END




GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rütbə id`si' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'rank_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Soyadı, adı, atasının adı' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'initial'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ünvan sahibi id`si' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'section_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Öhdəlik' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'obligation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Raport sənədlərin uçot varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_raport'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Raport sənədlərin uçotunun nömrəsi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'raport_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Raportun sənədlərin uçot tarixi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'raport_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Raport sənədlərin uçot varmı (müşayiət)?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_cover_letter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Raport sənədlərin uçotunun nömrəsi (müşayiət)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'cover_letter_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Raportun sənədlərin uçot tarixi (müşayiət)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'cover_letter_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kirayə müqaviləsi varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_contract'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kirayə müqaviləsi bitmə tarixi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'contract_expire_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Daşımaz əmlak arayışı varmı? ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_reference'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Daşımaz əmlak arayışı (arvadı və ya ərinin)  varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_spouse_reference'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nigah haqqında şəhadətnamə varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_marriage_certificate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mənzil attestatı varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_apartment_cert'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mənzil attestatı nömrəsi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'apartment_cert_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'18-ci qrafadan çıxarış varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_form18'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Şəxsiyyət vəsiqəsinin sürəti (öz) varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_id_card_copy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Şəxsiyyət vəsiqəsinin sürəti (arvadı və ya ərinin) varmı?' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_spouse_id_card_copy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bələdiyə Arayışları' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_municipal_certificates'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bələdiyə Arayışları nömrəsi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'municipal_certificates_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'İpoteka və Kredit Zəmanət Fondu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_mortgage_fund'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'İpoteka və Kredit Zəmanət Fondu nömrəsi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'mortgage_fund_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Daxili İşlər Nazirliyi arayışı' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_mia_certificate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kirayə əmri varmı? ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'has_rental_order'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kirayə əmrinin nömrəsi ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'rental_order_num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kirayə əmrinin tarixi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'rental_order_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sənədləri qəbul edən' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'received_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sənədləri qəbul etmə tarixi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Main', @level2type=N'COLUMN',@level2name=N'received_date'
GO
USE [master]
GO
